// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

ul {
    padding: 0;
}

ul:before {
    content: attr(aria-label);
    font-size: 120%;
    font-weight: bold;
}

li {
    list-style: none;
    margin: 10px 0;
}

a {
    text-decoration: none;
}